PORT=5000
MONGODB_URI=mongodb://localhost:27017/smart-leads
JWT_SECRET=Its_My_secret_Key_I_Cant_Share
JWT_EXPIRES_IN=7d
NODE_ENV=development
FRONTEND_URL=http://localhost:5173
MONGODB_URI=mongodb+srv://faiz:MEnahiBTAUGA@cluster0.qvlhrq4.mongodb.net/smart-leads?appName=Cluster0